header {
    margin: auto;
    font-size: 125%;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

main {
    margin-top: 200px;
    text-align:center;
}