header {
    margin: auto;
    font-size: 125%;
}

footer {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

main {
    margin-top: 350px;
    text-align: center;
}

img {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}