header {
    margin: auto;
    font-size: 125%;
}

footer {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

main {
    margin-top: 350px;
    text-align: center;
}

img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

#stage1 {
    top: 180px;
}

#stage2 {
    top: 160px;
}

#stage3 {
    top: 120px;
}

#stage4 {
    top: 80px;
}

div {
    margin-top: 10px
}